extends ./layouts/main 

block content
  .container.mt-5
  
    if success_msg.length > 0
      .alert.alert-success#flash-msg= success_msg
    
    h1 Statistics
    .row.g-2    
        .col-md-3
            .card
                .card-body 
                    h3.card-title Cashback completed
                    h4.card-subtitle.mb-2.text-body-secondary #{completedSum} â‚¬
                    p.card-text #{completedCount}/#{teilgenommenCount} offers completed 
        .col-md-3
            .card
                .card-body 
                    h3.card-title Cashback confirmed
                    h4.card-subtitle.mb-2.text-body-secondary #{confirmedSum} â‚¬
                    if confirmedCount === 1
                        p.card-text #{confirmedCount} offer confirmed
                    else 
                        p.card-text #{confirmedCount} offers confirmed
        .col-md-3
            .card
                .card-body 
                    h3.card-title Available offers
                    h4.card-subtitle.mb-2.text-body-secondary #{availableSum} â‚¬
                    p.card-text #{availableCount} more offers available!
        .col-md-3
            .card
                .card-body 
                    h3.card-title Total % received
                    h4.card-subtitle.mb-2.text-body-secondary #{Math.round(completedCount / teilgenommenCount * 100)}%
                    p.card-text #{teilgenommenCount - completedCount} offers pending 
    
    .row.mb-3.mt-3
        .col.d-flex.justify-content-between.align-items-center
            .btn-group(role="group" aria-label="Filtering buttons" data-toggle="buttons")
                button.btn.btn-info.m-1(type="button" data-filter="Available") 
                    a.filter-btn(href='/dashboard?status=Available') Available  
                button.btn.btn-primary.m-1(type="button" data-filter="Purchased")
                    a.filter-btn(href='/dashboard?status=Purchased') Purchased   
                button.btn.btn-warning.m-1(type="button" data-filter="Uploaded")
                    a.filter-btn(href='/dashboard?status=Uploaded') Uploaded 
                button.btn.btn-dark.m-1(type="button" data-filter="Confirmed")
                    a.filter-btn(href='/dashboard?status=Confirmed') Confirmed 
                button.btn.btn-success.m-1(type="button" data-filter="Completed")  
                    a.filter-btn(href='/dashboard?status=Completed' ) Completed 
        .col-2.d-flex.justify-content-between.align-items-center
            a.pl-0.expired(href='/dashboard?status=expired') View expired offers
        .col-2
        .col
            button.btn.btn-secondary.m-2.text-right(type="button", data-bs-toggle="modal", data-bs-target="#cashbackFormModal") + Add new offer
         
    
    - const cashbackOffers = filteredOffers || allCashbackOffers || [] // evaluated LTR
    
    if cashbackOffers.length === 0
        .row.m-2 
            .col.text-center 
                p No cashback offers here yet.
    else
        .row.m-2#offers-container
            each item in cashbackOffers
                .col.md-4
                    .card.mb-3.p-3(data-status=item.status)
                        .row
                            .col-8
                                h5= item.product_name
                            .col-4
                                span.badge.rounded-pill.text-bg-secondary #{item.status || 'N/A'}
                        if item.photo_url
                            img(src=item.photo_url, width="200", style="max-height:150px; object-fit:cover;")
                        if item.cashback_amount
                            p Cashback: #{item.cashback_amount} â‚¬
                        if item.store 
                            p Store: #{item.store}
                        if item.start_date || item.end_date
                            .row
                                - const epoch = new Date("1970-01-01").toLocaleDateString('en-US')
                                - const startDate = new Date(item.start_date).toLocaleDateString('en-US')
                                - const endDate = new Date(item.end_date).toLocaleDateString('en-US')
                                - console.log(startDate, endDate)
                                if (startDate && endDate) 
                                    if (startDate !== epoch && endDate !== epoch)
                                        .col-3
                                            p From
                                        .col-9 
                                            p #{startDate} - #{endDate} 
                                    else if (endDate === epoch)
                                        .col-3
                                            p From
                                        .col-9 
                                            p #{startDate}
                                    else if (startDate === epoch)
                                        .col-3
                                            p Until
                                        .col-9 
                                            p #{endDate} 


                                    
                        if item.purchase_date 
                            p Gekauft am: #{new Date(item.purchase_date).toLocaleDateString('en-US')}
                        .row
                            .col-6 
                                button.btn.btn-outline-primary.btn-sm.mb-3(type="button"
                                
                                data-bs-toggle="modal"
                                data-bs-target="#cashbackFormModal"
                                data-id=item.id
                                data-product_name=item.product_name
                                data-cashback_url=item.cashback_url 
                                data-photo_url=item.photo_url
                                data-start_date=item.start_date
                                data-end_date=item.end_date 
                                data-price=item.price 
                                data-cashback_amount=item.cashback_amount
                                data-store=item.store 
                                data-status=item.status
                                data-purchase_date=item.purchase_date
                                data-conditions=item.conditions
    
                                ) Edit offer


                            .col-6
                                if item.cashback_url
                                    a(href=item.cashback_url, target="_blank")
                                        p.text-center(style="font-size: 0.8rem") Visit offer 
                                            i.bi.bi-box-arrow-up-right.mb-2(style="font-size: 0.8rem; color: cornflowerblue;")

                        - const daterightnow = new Date();
                        - const options = { weekday: "short", month: "short", day: "numeric"}
                        - let timeDiffStart = item.start_date - daterightnow
                        - let daysDiffStart = Math.ceil(timeDiffStart / (1000 * 60 * 60 * 24))
                        - let timeDiffEnd = item.end_date - daterightnow
                        - let daysDiffEnd = Math.ceil(timeDiffEnd / (1000 * 60 * 60 * 24))

                        if (item.start_date || item.end_date) 
                            if (daysDiffStart > 0 && daysDiffStart <= 3)
                                span.badge.bg-info.text-dark Starts in #{daysDiffStart === 1 ? "1 day" : daysDiffStart} days
                            else if (daysDiffStart === 0)
                                span.badge.bg-info.text-dark Started today ðŸ—“ï¸
                            else if (daysDiffEnd > 0 && daysDiffEnd <= 3)
                                span.badge.bg-danger.text-light Ends in #{daysDiffEnd === 1 ? "1" : daysDiffEnd } days
                            else if (daysDiffEnd === 0)
                                span.badge.bg-danger.text-light Ends today
                            else if (daysDiffEnd > 0)
                                span.badge.bg-warning.text-dark Ends on #{item.end_date.toLocaleDateString("de-DE", options)}                       
                


    

    #cashbackFormModal.modal.fade(tabindex="-1" aria-labelledby="cashbackFormModal" aria-hidden="true")     
        .modal-dialog
            .modal-content
                .modal-header
                    h1.modal-title.fs-5#cashbackFormTitle Add a cashback offer
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body.bg-secondary-subtle
                    form(id="cashback-form" action="/cashback" method="POST")   
                                      
                        .mb-3 
                            label.form-label(for="product-name") Product name *
                            input.form-control(type="text" id="product-name" name="product_name" placeholder="Kinder Pengui" required) 
                        .mb-3 
                            label.form-label(for="cashback-url") Cashback URL *
                            input.form-control(type="text" id="cashback-url" name="cashback_url" required)
                        .mb-3 
                            label.form-label(for="photo-url") Product photo URL 
                            input.form-control(type="text" id="photo-url" name="photo_url")
                        .row.mb-3 
                            .col
                                label.form-label(for="start-date") Start date 
                                input.form-control(type="date" id="start-date" placeholder="01.10.2025" name="start_date")
                            .col
                                label.form-label(for="end-date") End date *
                                input.form-control(type="date" id="end-date" placeholder="20.10.2025" name="end_date" required)
                        .row.mb-3 
                            .col
                                label.form-label(for="price") Price
                                input.form-control(type="text" id="price" placeholder="4.50" name="price")
                            .col
                                label.form-label(for="cashback-amount") Cashback amount
                                input.form-control(type="text" id="cashback-amount" placeholder="4.50" name="cashback_amount")
                        .row.mb-3 
                            .col 
                                label.form-label(for="store") Where to buy
                                input.form-control(type="text" id="store" placeholder="Kaufland, REWE" name="store")
                            .col 
                                label.form-label(for="purchase-date") Purchase date
                                input.form-control(type="date" id="purchase-date" placeholder="20.10.2025" name="purchase_date")                            
                        .mb-3 
                            label.form-label(for="conditions") Conditions 
                            input.form-control(type="text" id="conditions" placeholder="Mit Aktionssticker, EAN 12345678" name="conditions")
                            input.form-control(type="hidden" id="id" name="id")
                            input.form-control(type="hidden" id="_method" name="_method")

                        .mb-3 
                            label.form-label(for="status") Status * 
                            select.custom-select.custom-select-sm.m-2.status-dropdown(name="status")
                                option Available
                                option Purchased 
                                option Uploaded
                                option Confirmed
                                option Completed           
                .modal-footer.position-relative 
                    button.btn.btn-danger.position-absolute.start-0.ml-3(type="submit" id="deleteBtn" form="cashback-form") Delete
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                    button.btn.btn-primary(type="submit" form="cashback-form") Save cashback offer


    script. 
        setTimeout(() => {
            const msg = document.getElementById("flash-msg");
            if (msg) msg.style.display = 'none';
        }, 3000);

        const modal = document.getElementById("cashbackFormModal"); 
        let offerID;       

        modal.addEventListener("show.bs.modal", event => { // if click + Add new offer, there's no info from any button click yet 

            const btn = event.relatedTarget; // data FROM btn inside here
            const form = modal.querySelector("form");
            - console.log("button", btn)
            if (btn.dataset.id) modal.querySelector("input[name='id']").value = btn.dataset.id;
            if (btn.dataset.product_name) modal.querySelector("input[name='product_name']").value = btn.dataset.product_name;
            if (btn.dataset.cashback_url) modal.querySelector("input[name='cashback_url']").value = btn.dataset.cashback_url;
            if (btn.dataset.photo_url) modal.querySelector("input[name='photo_url']").value = btn.dataset.photo_url;
            
            if (btn.dataset.status) { // https://stackoverflow.com/questions/39997579/pug-templates-how-to-mark-option-in-dropdown-list-as-selected & https://www.tutorialspoint.com/how-to-preselect-a-value-in-a-dropdown-list-of-items-in-html-forms 
                const dropdownOptions = modal.querySelector('.status-dropdown') // <select> el with the options
                dropdownOptions.value = btn.dataset.status; // Set select.value = target, browser selects matching option
            }
                
            // DATES
            if (btn.dataset.start_date) { // 2026-01-14T23:00:00.000Z
                let date = new Date(btn.dataset.start_date);
                let datestring = date.getFullYear().toString().padStart(4, '0') + '-' + (date.getMonth()+1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
                modal.querySelector("input[name='start_date']").value = datestring // https://stackoverflow.com/questions/14245339/pre-populating-date-input-field-with-javascript
            } 
            if (btn.dataset.end_date) { 
                let date = new Date(btn.dataset.end_date);
                let datestring = date.getFullYear().toString().padStart(4, '0') + '-' + (date.getMonth()+1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
                modal.querySelector("input[name='end_date']").value = datestring 
            } 
            if (btn.dataset.purchase_date) { 
                let date = new Date(btn.dataset.purchase_date);
                let datestring = date.getFullYear().toString().padStart(4, '0') + '-' + (date.getMonth()+1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
                modal.querySelector("input[name='purchase_date']").value = datestring 
            } 

            if (btn.dataset.price) modal.querySelector("input[name='price']").value = btn.dataset.price;
            if (btn.dataset.cashback_amount) modal.querySelector("input[name='cashback_amount']").value = btn.dataset.cashback_amount;
            if (btn.dataset.store) modal.querySelector("input[name='store']").value = btn.dataset.store;

            if (btn.dataset.conditions) modal.querySelector("input[name='conditions']").value = btn.dataset.conditions;
        })

        const delBtn = document.getElementById("deleteBtn"); 
        const method = modal.querySelector('_method');

        delBtn.addEventListener("click", event => {
            const method = modal.querySelector('#_method');
            method.value = "DELETE";
            console.log("clicked del")
         })

         modal.addEventListener("hidden.bs.modal", event => {
            const inputFields = modal.getElementsByTagName('input');
            for (let input of inputFields) {
                input.value = "";
                method.value = "_method";
            }
         })

         function testert() {
            console.log("clicked ")
         }
        

   


            



        
    
//-  https://mdbootstrap.com/docs/standard/extended/horizontal-cards/
//- https://www.geeksforgeeks.org/javascript/how-to-calculate-the-number-of-days-between-two-dates-in-javascript/
//- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString
//- HTML allows unlimited data-* attributes. Access through: btn.dataset.whwatever --> element.DATASET.NameOfYourAttr
//- event.relatedTarget = what triggered the modal, btn we clicked on
//- The Element.dataset property returns a DOMStringMap, an *object-like collection of key-value pairs.* https://gomakethings.com/managing-data-attributes-with-the-dataset-property-in-vanilla-javascript/ El.dataset changes keys to camelCase!
//- clear form inputs https://forum.blocsapp.com/t/empty-the-form-and-close-modal/26505/3 

//- The <select> el controls which option is selected